<%- include('partials/header') -%>

<main class="container">
    <div class="row">
        <div class="col-md-4 mt-4 tfs-logo">
            <img src="/imgs/android-chrome-192x192.png">
        </div>
        <div class="col-md-8 mt-4">
            <p>Welcome to Teamfight Statctics! If you're passionate about Riot Games' popular auto-battler, Teamfight Tactics (TFT), you've come to the right place. Our website is dedicated to providing players with a comprehensive and user-friendly platform to explore in-depth statistics, data, and insights related to TFT.</p>
            <p>Unleash your strategic prowess with our tool that allow you to review your matches, understand team synergies, and maximize your potential. Dive into champion stats, win rates, and performance metrics to understand the strengths and weaknesses of each unit and create the ultimate team.</p>
            <p>To request a username and password, please <a href>contact me</a> or take a look at our <a href>sample summoner</a>. Feel free to check out the <a href ="">repo on github</a> for more information.</p>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>