<%- include('partials/header') -%>

<main class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="/imgs/android-chrome-192x192.png">
        </div>
        <div class="col-md-8 mt-4">
            <p>Following Riot Games' <a href="https://developer.riotgames.com/docs/tft">api policies</a> Teamfight Statctics is not open to the public pending approval.</p>
            <p>Please <a href>contact me</a> with any access questions.</p>
            <p>See my <a href ="">github</a> for more information and for a demo</p>
        </div>
    </div>

    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary main-color-bg"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary main-color-bg"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>