<%- include('partials/header') -%>

<main class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="/imgs/android-chrome-192x192.png">
        </div>
        <div class="col-md-8 mt-4">
            <form action="summoner/" method="GET">
                <input type="text" class="form-control" id="summonerName" name="summonerName" placeholder="Summoner Name">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>