body a {
    color: #909B8F;
}
body a:hover {
    color: #F3F1F4;
}
body p, li, h4 {
    color: #F3F1F4;
}

.profile-stats ul{
    display: flex;
    padding: 0;
    justify-content: center;
}
.profile-stats li{
    width: 25%;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.profile-stats h4{
    text-align: left;
}
.profile-stats h5{
    margin-top: 15px;
    font-size: larger;
}
.sub-stats li{
    margin: 0 5%;
    font-style: italic;
    color: #F3F1F4;
    opacity: 50%;
}
.top-traits {
    flex-wrap: wrap;
}
.top-traits li{
    text-align: left;
    width: 100%;
    font-size: smaller;
}
.top-traits img{
    height: 35px;
    margin: 0 5px;
}
.match-list li{
    height: auto;
    border-left: lightgray 1px solid;
}
.match-stats{
    display: flex;
    list-style: none;
    padding: 0;
}
.unit-list{
    width: 55%;
}
.unit-list ul{
    display:flex;
    flex-wrap: wrap;
    padding: 0;
}
.unit-list li{
    height: auto;
    width: 20%;
    border: white 0 solid;
    list-style: none;
    padding: .5% .25% 5% 0;
    position: relative;
}
.unit-list img{
    width: 95%;
}

.summonerMatch img{
    width: 90%;
    height: auto;
}

.unit-list .unit-name-top{
    visibility: hidden;

    position: absolute;
    padding: 0 .5%;
    bottom: 82%;
    left: 10%;
    z-index: 1;
}

.unit-list li:hover .unit-name-top{
    visibility: visible;
}

.unit-list .unit-name-bottom{
    visibility: hidden;

    position: absolute;
    padding: 0 .5%;
    top: 80%;
    left: 10%;
    z-index: 1;
}
.unit-list li:hover .unit-name-bottom{
    visibility: visible;
}

.match-trait-list {
    width: 20%;
    padding-left: 1%;
}
.match-trait-list ul{
    list-style: none;
    padding: 0;
}
.match-trait-list li {
    height: auto;
    font-size: smaller;
}

.match-augments {
    width: 15%;
}
.match-augments ul {
    padding: 0;
    list-style: none;
}
.match-augments li{
    height: auto;
    font-size: smaller;
}

.match-placement {
    width: 10%;
    text-align: center;
}

.match-stats li{
    border: white 0 solid;
}

.participant-list li{
    width: 50%;
}
.match-particpant {
    width: 50%;
}

.title {
    font-family: 'Roboto Slab', serif;
}

.title a {
    text-decoration: none;
}

.main-color{
    color: #438659;
}

.main-color-bg{
    background-color: #438659;
    border-color: #438659;
}

.main-color-bg:hover {
    background-color: #F3F1F4;
    border-color: #F3F1F4;
}

.back-color{
    color: #312D2F;
}

.back-color-bg{
    background-color: #312D2F;
}

.acc-1-color {
    color: #6F6B5B;
}

.acc-1-color-bg {
    background-color: #6F6B5B;
}

.acc-2-color {
    color: #909B8F;
}

.acc-3-color{
    color: #F3F1F4;
}
