body a {
    color: #909B8F;
}
body a:hover {
    color: #F3F1F4;
}
body p, li, h4 {
    color: #F3F1F4;
}

table {
    color: #F3F1F4
}

.unit-row img{
    width: 35px;
    height: auto;
    margin: .75% 2%;
}

.subrow{
    visibility: collapse;
}

.unit-filter{
    display: flex;
    list-style: none;
}

.unit-filter li{
    background-color: black;
    opacity: 50%;
    padding: 0.5% 1%;
}

.unit-filter :first-child{
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.unit-filter :last-child{
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

.unit-filter-selected{
    background-color: dimgray !important;
}

.profile-stats ul{
    display: flex;
    padding: 0;
    justify-content: center;
}
.profile-stats li{
    width: 25%;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.profile-stats h4{
    text-align: left;
}
.profile-stats h5{
    margin-top: 15px;
    font-size: larger;
}
.sub-stats li{
    margin: 0 5%;
    font-style: italic;
    color: #F3F1F4;
    opacity: 50%;
}
.top-traits {
    flex-wrap: wrap;
}
.top-traits li{
    text-align: left;
    width: 100%;
    font-size: smaller;
}
.top-traits img{
    height: 35px;
    margin: 0 5px;
}
.match-list li{
    height: auto;
    border-left: lightgray 1px solid;
}
.match-stats{
    display: flex;
    list-style: none;
    padding: 0;
}
.unit-list{
    width: 55%;
}
.unit-list ul{
    display:flex;
    flex-wrap: wrap;
    padding: 0;
}
.unit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 20%;
    border: white 2px solid;
    list-style: none;
    padding: .5% .25% 5% 0;
    position: relative;
}
.unit-asset{
    width: 95%;
}

.summonerMatch .unit-asset{
    width: 90%;
    height: auto;
}

.unit-container .unit-name-top{
    visibility: hidden;

    position: absolute;
    padding: 0 .5%;
    bottom: 82%;
    z-index: 1;
}

.unit-list li:hover .unit-name-top{
    visibility: visible;
}

.unit-list .unit-name-bottom{
    visibility: hidden;
    position: absolute;

    padding: 0 .5%;
    top: 80%;
    z-index: 1;
}
.unit-list li:hover .unit-name-bottom{
    visibility: visible;
}

.unit-list .rarity-0{
    color: grey
}
.unit-list .rarity-0 .unit-asset{
    border: grey 2px solid;
    border-radius: 10%;
}

.table-rarity-0 img{
    border: grey 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-0 {
    color: grey;
}

.unit-list .rarity-1{
    color: green
}
.unit-list .rarity-1 .unit-asset{
    border: green 2px solid;
    border-radius: 10%;
}
.table-rarity-1 img{
    border: green 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-1 {
    color: green;
}

.unit-list .rarity-2{
    color: blue
}
.unit-list .rarity-2 .unit-asset{
    border:  blue 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-2 {
    color: blue;
}
.table-rarity-2 img{
    border: blue 2px solid;
    border-radius: 10%;
}

.unit-list .rarity-3{
    color: blue
}
.unit-list .rarity-3 .unit-asset{
    border:  blue 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-3 {
    color: blue;
}
.table-rarity-3 img{
    border: blue 2px solid;
    border-radius: 10%;
}

.unit-list .rarity-4{
    color: purple
}
.unit-list .rarity-4 .unit-asset{
    border:  purple 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-4 {
    color: purple;
}
.table-rarity-4 img{
    border: purple 2px solid;
    border-radius: 10%;
}

.unit-list .rarity-5{
    color: orange
}
.unit-list .rarity-5 .unit-asset{
    border:  orange 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-5 {
    color: orange;
}
.table-rarity-5 img{
    border: orange 2px solid;
    border-radius: 10%;
}

.unit-list .rarity-6{
    color: orange
}
.unit-list .rarity-6 .unit-asset{
    border:  orange 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-6 {
    color: orange;
}
.table-rarity-6 img{
    border: orange 2px solid;
    border-radius: 10%;
}

.unit-list .rarity-7{
    color: red
}
.unit-list .rarity-7 .unit-asset{
    border:  red 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-7 {
    color: red;
}
.table-rarity-7 img{
    border: red 2px solid;
    border-radius: 10%;
}

.unit-list .rarity-9{
    color: red
}
.unit-list .rarity-9 .unit-asset{
    border:  red 2px solid;
    border-radius: 10%;
}
.table-stars-rarity-9 {
    color: red;
}
.table-rarity-9 img{
    border: red 2px solid;
    border-radius: 10%;
}

.item-box-container{
    display: flex;
}

.item-box {
    position: relative;
    width: 20px;
    height: 20px;
    border: lightgrey 1px solid;
    border-radius: 10%;
    margin: 5px 2.5px;
}

.match-trait-list {
    width: 20%;
    padding-left: 1%;
}
.match-trait-list ul{
    list-style: none;
    padding: 0;
}
.match-trait-list li {
    height: auto;
    font-size: smaller;
}

.match-augments {
    width: 15%;
}
.match-augments ul {
    padding: 0;
    list-style: none;
}
.match-augments li{
    height: auto;
    font-size: smaller;
}

.match-placement {
    width: 10%;
    text-align: center;
}

.participant-list li{
    width: 50%;
}
.match-particpant {
    width: 50%;
}

.title {
    font-family: 'Roboto Slab', serif;
}

.title a {
    text-decoration: none;
}

.main-color{
    color: #438659;
}

.main-color-bg{
    background-color: #438659;
    border-color: #438659;
}

.main-color-bg:hover {
    background-color: #F3F1F4;
    border-color: #F3F1F4;
}

.back-color{
    color: #312D2F;
}

.back-color-bg{
    background-color: #312D2F;
}

.acc-1-color {
    color: #6F6B5B;
}

.acc-1-color-bg {
    background-color: #6F6B5B;
}

.acc-2-color {
    color: #909B8F;
}

.acc-3-color{
    color: #F3F1F4;
}
