body a {
    color: #909B8F;
}
body a:hover {
    color: #F3F1F4;
}
body p, li, h4 {
    color: #F3F1F4;
}

.profile-stats ul{
    display: flex;
    padding: 0;
    justify-content: center;
}
.profile-stats li{
    width: 25%;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.profile-stats h4{
    text-align: left;
}
.profile-stats h5{
    margin-top: 15px;
    font-size: larger;
}
.sub-stats li{
    margin: 0 5%;
    font-style: italic;
    color: #F3F1F4;
    opacity: 50%;
}
.top-traits {
    flex-wrap: wrap;
}
.top-traits li{
    text-align: left;
    width: 100%;
    font-size: smaller;
}
.top-traits img{
    height: 35px;
    margin: 0 5px;
}
.match-list li{
    height: 150px;
    border-left: lightgray 1px solid;
}
.unit-list li{
    height: auto;
    border: white 0 solid;
}
.title {
    font-family: 'Roboto Slab', serif;
}

.title a {
    text-decoration: none;
}

.main-color{
    color: #438659;
}

.main-color-bg{
    background-color: #438659;
    border-color: #438659;
}

.main-color-bg:hover {
    background-color: #F3F1F4;
    border-color: #F3F1F4;
}

.back-color{
    color: #312D2F;
}

.back-color-bg{
    background-color: #312D2F;
}

.acc-1-color {
    color: #6F6B5B;
}

.acc-1-color-bg {
    background-color: #6F6B5B;
}

.acc-2-color {
    color: #909B8F;
}

.acc-3-color{
    color: #F3F1F4;
}
